* {
  padding: 0px;
  margin: auto;
  text-align: center;
  background-color: black;
  color: #F5F5F5;
  align-content: center;
  font-family: 'Quantico';
}

table {
  padding: 0px;
}

tr {
  padding: 0px;
}

th {
  background-color: #F5F5F5;
  color: black;
  font-size:3vh;
  padding: 0.5vh;
  padding-left: 0.5vw;
  padding-right:0.5vw;
}

td {
  border: 1px solid #F5F5F5;
  padding:5px;
  word-wrap: break-word;
  font-size:1.5vw;
}

.hidden {
  visibility:hidden;
}

.selected div {
  background-color: rgb(65, 222, 65);

}

.deselected div {
  background-color: rgb(218, 46, 46);
}

.game {
	display: inline-block;
	width: 70%;
	height: 70%;
	padding: 0px;
	border-radius: 500vh;
}

.pseudoHeader {
	font-weight: bold;
	padding:0.25vh;
	height: 6vw;
	width: 6vw;
}

h1 {
  padding: 2vh;
}

#clues {
  width: 45vw;
  font-size: 3.5vh;
  padding: 2vh;
  margin: auto;
}

ol {
  text-align: left;
}
li {
    text-align: left;
}
.invisible {
	display: none;
}
h3 {
  padding-bottom: 1vh;
  font-size: 2vw;
}
