* {
  padding: 0px;
  margin: 0;
  text-align: center;
  background-color: black;
  color: #F5F5F5;
}

#mainHeading {
  margin:auto;
  text-align:center;
  font-size: 5vh;
  max-width: 640px;
  padding: 2vh;
}

#canvasContainer{
  margin-left:auto;
  margin-right:auto;
  width:640px;
  height:480px;
  border: 4px solid #ff0000;"
  bor
}
