$def with (stunned)
<html>

  <head>
    <title>shadowCaster admin</title>
    <link href='/static/font.css' rel='stylesheet'>
    <style>
      .concern {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: 'Quantico'
      }
    </style>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/switchGame.css">
    <script src='/static/jquery-2.2.4.min.js'></script>
    <script type="text/javascript">
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      function flash() {
        setInterval(f, (Math.random() * 2000));
      }

      async function f() {
        for (i = 0; i < (Math.random() * 16); i++) {
          document.getElementById("logo").src = "/static/red.png";
          await sleep(50);
          document.getElementById("logo").src = "/static/white.png";
          await sleep(50);
        }
      }
      var oReq;

      function stunReqListener() {
        //console.log(this.responseText);
        if (this.responseText == "True") {
          window.location.reload(1);
        }
      }

      function makeStunRequest() {
        oReq = new XMLHttpRequest();
        oReq.addEventListener("load", stunReqListener);
        oReq.open("GET", "/stunstatus");
        oReq.send();
      }
    </script>
  </head>

  <body bgcolor="black">
    <center>
    $if stunned > 0:
      <img id="logo" width=300 src="/static/red.png" onload=flash()>
      <div class="concern" id="timer">STUNNED</div>
      <script src="/static/timer.js"></script>
      <script>
        setTimer(document.getElementById("timer"), $(stunned));
        setTimeout(function() {
          window.location.reload(1);
        }, 5000);
      </script>
    $else:
      <script>
        setInterval(makeStunRequest, 5000);
      </script>
      <div class="concern"><h3 id='mainHeading'></h3></div>
      <table class='game'>
        <tr>
          <td id='bin0' class='counter'>0</td>
          <td id='bin1' class='counter'>0</td>
          <td id='bin2' class='counter'>0</td>
          <td id='bin3' class='counter'>0</td>
          <td id='bin4' class='counter'>0</td>
          <td id='bin5' class='counter'>0</td>
          <td id='bin6' class='counter'>0</td>
          <td id='bin7' class='counter'>0</td>
        </tr>
        <tr>
          <td id='0' class='off toggle'>
            <div></div>
          </td>
          <td id='1' class='off toggle'>
            <div></div>
          </td>
          <td id='2' class='off toggle'>
            <div></div>
          </td>
          <td id='3' class='off toggle'>
            <div></div>
          </td>
          <td id='4' class='off toggle'>
            <div></div>
          </td>
          <td id='5' class='off toggle'>
            <div></div>
          </td>
          <td id='6' class='off toggle'>
            <div></div>
          </td>
          <td id='7' class='off toggle'>
            <div></div>
          </td>
        </tr>
        <table>
          <script src="/static/p5.js"></script>
          <script src="/static/eqnSwitchGame.js"></script>

    </center>

  </body>

</html>
