$def with (form, stuntime, releasetime, num, color, error, flag)

<html>
	<head><title>ShadowCaster Login</title>
		<link href='/static/font.css' rel='stylesheet'>
		<style>
			.concernForm {
				text-align: left;
				color: rgb(255, 255, 255);
				font-size: 30px;
				font-family: 'Quantico'
			}
			.concern{
				text-align: center;
				color: rgb(255, 255, 255);
				font-size: 40px;
				font-family: 'Quantico'
			}
			.flag {
				text-align: center;
				color: rgb(255, 255, 255);
				font-size: 40px;
				font-family: 'Quantico'
			}
			input {
   				width: 500px;
				height: 40px;
				font-size: 20px;
				font-family: 'Quantico'
			 }
		</style>
		<script type="text/javascript">
			function sleep(ms) {
				return new Promise(resolve => setTimeout(resolve, ms));
			}
			function flash() {
				setInterval(f, (Math.random() * 2000));
			}
			
			var oReq;
			function stateReqListener () {
				//console.log(this.responseText);
				if(this.responseText == "True"){window.location.reload(1);}
			}
			function makeStateRequest(){
				oReq = new XMLHttpRequest();
				oReq.addEventListener("load", stateReqListener);
				oReq.open("GET", "/status");
				oReq.send();
			}

		</script>
	</head>
	<body bgcolor="black">
		<center>
		$if stuntime > 0:
			<img id="logo" width=300 src="/static/stun.gif" onload=flash()>
			<div class="concern" id="timer">STUNNED</div>
			<script src="/static/timer.js"></script>
			<script>
				setTimer(document.getElementById("timer"), $(stuntime) );
				setTimeout(function(){window.location.reload(1);}, 5000);
			</script>
		$elif releasetime > 0:
			<img id="logo" width=300 src="/static/release.gif" onload=flash()>
			<div class="concern" id="timer">RELEASING</div>
			<script src="/static/timer.js"></script>
			<script>
				setTimer(document.getElementById("timer"), $(releasetime) );
				setTimeout(function(){window.location.reload(1);}, 5000);
			</script>
		$else:
			<script>setInterval(makeStateRequest, 5000);</script>
			<img id="logo" width=300 src="/static/$(color).png">
			<div class="concern"><font color="red"> shadowCaster $(num) </font></div>
			<form name="main" method="post">
				<font color="red">
				$if form:
					$:form.render()
				</font>
			</form>
			$if error != "":
				<p><div class="concern"> $error </div></p>
			$if flag:
				<p><div class="flag">[ $flag ]</div></p>

		</center>
	</body>
</html>
