<html>
	<head><title>ShadowCaster Login</title>
		<link href='/static/font.css' rel='stylesheet'>
    <link href='../static/logicGrid.css' rel='stylesheet'>
    <script src="../static/jquery-2.2.4.min.js"></script>
		<style>
			.concernForm {
				text-align: left;
				color: rgb(255, 255, 255);
				font-size: 30px;
				font-family: 'Quantico'
			}
			.concern{
				text-align: center;
				color: rgb(255, 255, 255);
				font-size: 40px;
				font-family: 'Quantico'
			}
			input {
   				width: 500px;
				height: 40px;
				font-size: 20ptoggle class javascriptx;
				font-family: 'Quantico'
			 }
		</style>
  </head>

  <body>
    <h1>Unknown Agents</h1>
    <table>
      <tr>
        <td colspan="2" rowspan="2" class="hidden"></td>
        <th colspan="4">Agent</th>
      </tr>
      <tr>
        <td>Peters</td>
        <td>Sonne</td>
        <td>Gonella</td>
        <td>Frost</td>
      </tr>
      <tr>
        <th rowspan="4">Energy</th>
        <td>Retrieved 20% of energy</td>
        <td class="col0 row0" id='0'></td>
        <td class="col1 row0" id='1'></td>
        <td class="col2 row0" id='2'></td>
        <td class="col3 row0" id='3'></td>
      </tr>
      <tr>
        <td>Retrieved 15% of energy</td>
        <td class="col0 row1"></td>
        <td class="col1 row1"></td>
        <td class="col2 row1"></td>
        <td class="col3 row1"></td>
      </tr>
      <tr>
        <td>Retrieved 10% of energy</td>
        <td class="col0 row2"></td>
        <td class="col1 row2"></td>
        <td class="col2 row2"></td>
        <td class="col3 row2"></td>
      </tr>
      <tr>
        <td>Retrieved 5% of energy</td>
        <td class="col0 row3"></td>
        <td class="col1 row3"></td>
        <td class="col2 row3"></td>
        <td class="col3 row3"></td>

      </tr>
    </table>
    <script src="../static/logicGrid.js"></script>
  </body>
