$def with (stuntime, releasetime)

<html>
	<head><title>Logic Game</title>
    <meta charset="UTF-8">
		<link href='/static/font.css' rel='stylesheet'>
    <link href='/static/logicGrid.css' rel='stylesheet'>
    <script src="/static/jquery-2.2.4.min.js"></script>
		<style>
			.concernForm {
				text-align: left;
				color: rgb(255, 255, 255);
				font-size: 30px;
				font-family: 'Quantico'
			}
			.concern{
				text-align: center;
				color: rgb(255, 255, 255);
				font-size: 40px;
				font-family: 'Quantico'
			}
			input {
   				width: 500px;
				height: 40px;
				font-size: 20px;
				font-family: 'Quantico'
			 }
		</style>

    <script type="text/javascript">
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      function flash() {
        setInterval(f, (Math.random() * 2000));
      }

      
      var oReq;

      function statusReqListener() {
        if (this.responseText == "True") {
          window.location.reload(1);
        }
      }

      function makeStatusRequest() {
        oReq = new XMLHttpRequest();
        oReq.addEventListener("load", statusReqListener);
        oReq.open("GET", "/status");
        oReq.send();
      }
    </script>

  </head>

  <body>

    $if stuntime > 0:
      <img id="logo" width=300 src="/static/stun.gif" onload=flash()>
      <div class="concern" id="timer">STUNNED</div>
      <script src="/static/timer.js"></script>
      <script>
        setTimer(document.getElementById("timer"), $(stuntime));
        setTimeout(function() {
          window.location.reload(1);
        }, 5000);
      </script>
    $elif releasetime > 0:
     <img id="logo" width=300 src="/static/release.gif" onload=flash()>
     <div class="concern" id="timer">RELEASING</div>
     <script src="/static/timer.js"></script>
     <script>
      setTimer(document.getElementById("timer"), $(releasetime) );
      setTimeout(function(){window.location.reload(1);}, 5000);
     </script>
    $else:
      <script>setInterval(makeStatusRequest, 5000);</script>

      <br />
      <br />
      <br />
      <!-- <h3 id='timing' class='hidden'>5.0</h3> -->
      <h3 id='timing'></h3>
      <table>
        <tr>
          <td colspan="2" rowspan="2" class="hidden"></td>
          <td colspan="4" class="header">Agent</th>
        </tr>
        <tr>
          <td class='pseudoHeader'>Peters</td>
          <td class='pseudoHeader'>Sonne</td>
          <td class='pseudoHeader'>Gonella</td>
          <td class='pseudoHeader'>Frost</td>
        </tr>
        <tr>
          <td rowspan="4" class="header">Energy Retrieved</th>
          <td class='pseudoHeader'>20%</td>
          <td class="col0 row0" id='0'><div class='game'></div></td>
          <td class="col1 row0" id='1'><div class='game'></div></td>
          <td class="col2 row0" id='2'><div class='game'></div></td>
          <td class="col3 row0" id='3'><div class='game'></div></td>
        </tr>
        <tr>
          <td class='pseudoHeader'>15%</td>
          <td class="col0 row1" id='4'><div class='game'></div></td>
          <td class="col1 row1" id='5'><div class='game'></div></td>
          <td class="col2 row1" id='6'><div class='game'></div></td>
          <td class="col3 row1" id='7'><div class='game'></div></td>
        </tr>
        <tr>
          <td class='pseudoHeader'>10%</td>
          <td class="col0 row2" id='8'><div class='game'></div></td>
          <td class="col1 row2" id='9'><div class='game'></div></td>
          <td class="col2 row2" id='10'><div class='game'></div></td>
          <td class="col3 row2" id='11'><div class='game'></div></td>
        </tr>
        <tr>
          <td class='pseudoHeader'>5%</td>
          <td class="col0 row3" id='12'><div class='game'></div></td>
          <td class="col1 row3" id='13'><div class='game'></div></td>
          <td class="col2 row3" id='14'><div class='game'></div></td>
          <td class="col3 row3" id='15'><div class='game'></div></td>
        </tr>
      </table>
      <div id='clues'>
        <ol>
          <li>Agent Peters is more efficient than Agent Sonne.</li>
          <li>Agent Frost is the most efficient.</li>
          <li>Agent Sonne is only 5% less effective than Agent Gonella.</li>
        </ol>
      </div>
      <script src="/static/logicGrid.js"></script>
  </body>
