$def with (stunned)

<!DOCTYPE HTML>
<html lang="en">
<!-- Most of the puzzle is from http://www.rhuno.com/html5/puzzle/ -->
<head>
  <meta charset="utf-8" />
  <title>Scrambled Image</title>
  <link rel="stylesheet" href="../static/picture.css"></link>
  <link href='../static/font.css' rel='stylesheet'>
  <style>
    *{
      text-align: center;
      color: rgb(255, 255, 255);
      font-family: 'Quantico'
    }
  </style>
  <script type="text/javascript">
    window.onload = onReady;

    var can;
    var ctx;
    var img;

    var blockSize = 80;

    var clickX;
    var clickY;

    var selected1;
    var selected2;

    var piecesArray = new Array();
    var correctOrder = new Array();

    function onReady() {
      can = document.getElementById('myCanvas');
      ctx = can.getContext('2d');
      img = new Image();
      img.onload = onImage1Load;
      img.src = "../static/workingCube2.png";
    }

    function onImage1Load() {
      var r;
      for (var i = 0; i < 8; i++) {
        for (var j = 0; j < 6; j++) {
          r = new Rectangle(i * blockSize, j * blockSize, i * blockSize + blockSize, j * blockSize + blockSize);
          piecesArray.push(r);
          correctOrder.push(r);
        }
      }

      scrambleArray(piecesArray, 30);
      drawImage();
    }

    function onCanvasClick(evt) {

      clickX = evt.offsetX;
      clickY = evt.offsetY;

      var drawX = Math.floor(clickX / blockSize);
      var drawY = Math.floor(clickY / blockSize);

      var index = drawX * 6 + drawY;

      var targetRect = piecesArray[index];
      var drawHighlight = true;

      drawX *= blockSize;
      drawY *= blockSize;

      ctx.clearRect(0, 0, 640, 480);

      if (selected1 != undefined && selected2 != undefined) {
        selected1 = selected2 = undefined;
      }

      if (selected1 == undefined) {
        selected1 = targetRect;
      } else {
        selected2 = targetRect;
        swapRects(selected1, selected2);
        drawHighlight = false;
      }

      drawImage();

      if (drawHighlight)
        highlightRect(drawX, drawY);
    }

    function highlightRect(drawX, drawY) {
      console.log(drawX, drawY);
      ctx.beginPath();
      ctx.moveTo(drawX, drawY);
      ctx.lineTo(drawX + blockSize, drawY);
      ctx.lineTo(drawX + blockSize, drawY + blockSize);
      ctx.lineTo(drawX, drawY + blockSize);
      ctx.lineTo(drawX, drawY);
      ctx.lineWidth = 2;

      // set line color
      ctx.strokeStyle = "#ffffff";
      ctx.stroke();
    }

    function swapRects(r1, r2) {
      var index1;
      var index2;
      var temp = r1;

      index1 = piecesArray.indexOf(r1);
      index2 = piecesArray.indexOf(r2);

      piecesArray[index1] = r2;
      piecesArray[index2] = temp;

      checkWinner();
    }

    function checkWinner() {
      var match = true;

      for (var i = 0; i < piecesArray.length; i++) {
        if (piecesArray[i] != correctOrder[i]) {
          match = false;
        }
      }

      if (match) {
        document.location = "/release?e=51be8cd28380d66c4d346569a82e80049c9cbd23" //maybe not right
      }
    }

    function drawImage() {
      for (var k = 0; k < 8; k++) {
        for (var l = 0; l < 6; l++) {
          r = piecesArray[k * 6 + l];
          ctx.drawImage(img, r.left, r.top, r.width, r.height, k * blockSize, l * blockSize, blockSize, blockSize);
        }
      }
    }

    function scrambleArray(ar, times) {
      var count = 0;
      var temp;
      var index1;
      var index2;
      while (count < times) {
        index1 = Math.floor(Math.random() * piecesArray.length);
        index2 = Math.floor(Math.random() * piecesArray.length);

        temp = piecesArray[index1];
        piecesArray[index1] = piecesArray[index2];
        piecesArray[index2] = temp;

        count++;
      }
    }

    function Rectangle(left, top, right, bottom) {
      this.left = left;
      this.top = top;
      this.right = right;
      this.bottom = bottom;

      this.width = right - left;
      this.height = bottom - top;
    }

    function isCanvasSupported() {
      var elem = document.createElement('canvas');
      return (elem.getContext && elem.getContext('2d'));
    }
  </script>

  <head>

    <body>

      <h1 id="mainHeading">Scrambled Image</h1>

      <div id = "canvasContainer">
        <canvas id="myCanvas" width="640" height="480" onclick="onCanvasClick(event);">
		</canvas>
      </div>



      <body>

</html>
