$def with (num, flag)
<html>
    <head><title>Release Energy</title>
        <link href='/static/font.css' rel='stylesheet'>
        <style>
				.concern {
					text-align: center;
					color: rgb(255, 0, 0);
					font-size: 40px;
					font-family: 'Quantico'
				}
                .flag {
					text-align: center;
					color: rgb(255, 255, 255);
					font-size: 40px;
					font-family: 'Quantico'
				}
		</style>
		<script type="text/javascript">
			function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
			}

			function flash() {
				setInterval(f, (Math.random() * 2000));
			}

			async function f(){
				for(i=0; i < (Math.random() * 16); i++){
					document.getElementById("logo").src = "/static/red.png";
					await sleep(50);
					document.getElementById("logo").src = "/static/blue.png";
                    await sleep(50);
					document.getElementById("logo").src = "/static/green.png";
					await sleep(50);
				}
			}
		</script>
	</head>
	<body bgcolor="black">
		<center>
			<img id="logo" width=300 src="/static/white.png" onload=flash()>
            <div class="concern">shadowCaster $(num): releasing energy</div><p>
            <div class="flag">$flag</div>
		</center>

	</body>
</html>
