$def with (stunned, releasing)
<html>
	<head><title>Logic Gates 1</title>
		<link href='/static/font.css' rel='stylesheet'>
		<style>
				.concern {
					text-align: center;
					color: rgb(255, 255, 255);
					font-size: 20px;
					font-family: 'Quantico'
				}
		</style>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/toggleGame.css">
		<script type="text/javascript">
			function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
			}

			function flash() {
				setInterval(f, (Math.random() * 2000));
			}

			var oReq;
			function statusReqListener () {
				//console.log(this.responseText);
				if(this.responseText == "True"){window.location.reload(1);}
			}
			function makeStatusRequest(){
				oReq = new XMLHttpRequest();
				oReq.addEventListener("load", statusReqListener);
				oReq.open("GET", "/status");
				oReq.send();
			}

		</script>
	</head>
	<body bgcolor="black">
		<center>
		$if stunned > 0:
			<img id="logo" width=300 src="/static/stun.gif" onload=flash()>
			<div class="concern" id="timer">STUNNED</div>
			<script src="/static/timer.js"></script>
			<script>
				setTimer(document.getElementById("timer"), $(stunned) );
				setTimeout(function(){window.location.reload(1);}, 5000);
			</script>
		$elif releasing > 0:
			<img id="logo" width=300 src="/static/release.gif" onload=flash()>
			<div class="concern" id="timer">RELEASING</div>
			<script src="/static/timer.js"></script>
			<script>
				setTimer(document.getElementById("timer"), $(releasing) );
				setTimeout(function(){window.location.reload(1);}, 5000);
			</script>
		$else:
			<script>setInterval(makeStatusRequest, 5000);</script>
			<div id="gameArea">
				<div class="concern"><h3 id='mainHeading'></h3></div>
        <table>
          <tr>
            <td id='0' class='off toggle'>
              <div></div>
            </td>
            <td id='1' class='off toggle'>
              <div></div>
            </td>
            <td id='2' class='off toggle'>
              <div></div>
            </td>
            <td id='3' class='off toggle'>
              <div></div>
            </td>
            <td id='4' class='off toggle'>
              <div></div>
            </td>
            <td id='5' class='off toggle'>
              <div></div>
            </td>
            <td id='6' class='off toggle'>
              <div></div>
            </td>
            <td id='7' class='off toggle'>
              <div></div>
            </td>
          </tr>
        </table>
			</div>
			<script src="/static/p5.js"></script>
			<script>var game = "one";</script>
      <script src='/static/jquery-2.2.4.min.js'></script>
      <script src="/static/toggleGame.js"></script>

		</center>

	</body>
</html>
