$def with (stuntime)
<html>
	<head><title>shadowCaster admin</title>
		<link href='/static/font.css' rel='stylesheet'>
		<style>
            .concern {
                text-align: center;
                color: red;
                font-size: 40px;
                font-family: 'Quantico'
            }
            .error {
                text-align: center;
                color: white;
                font-size: 30px;
                font-family: 'Quantico'
            }
            .concern:link{
                color: red;
            };
            .concern:visited{
                color: red; 
            }
            button {
                width: 300px;
                height: 40px;
                font-size: 20px;
                font-family: 'Quantico'
            }
		</style>
		<meta charset="utf-8" />
		<script type="text/javascript">
			var oReq;
			function stunReqListener () {
				if(this.responseText == "True"){window.location.reload(1);}
			}
			function makeStunRequest(){
				oReq = new XMLHttpRequest();
				oReq.addEventListener("load", stunReqListener);
				oReq.open("GET", "/stunstatus");
				oReq.send();
			}	
			
		</script>
	</head>
	<body bgcolor="black">
	    <center>
	    $if stuntime > 0:
            <img id="logo" width=300 src="/static/stun.gif">
            <div class="concern" id="timer">STUNNED</div>
            <script src="/static/timer.js"></script>
            <script>
                setTimer(document.getElementById("timer"), $(stuntime) );
                setTimeout(function(){window.location.reload(1);}, 5000);			
            </script>
        $else:
            <script>setInterval(makeStunRequest, 5000);</script>
            <div id="gameArea">
            <!--<script type="text/javascript" src="/static/jquery-1.6.3.js"></script>-->
            <script src="/static/jquery-2.2.4.min.js"></script>
            <div id="wheelimg" style="margin-left: auto; margin-right: auto; width: 400px; height: 400px; background-image:url('/static/wheelsprite.png')"></div>
            <br />
            <div id="error" class="error">&nbsp;</div>
            <br />
            <div id="letters">
                <span id="shiftedLetters" class="concern"></span>
            </div>
            <button onclick="verify();">releaseLight()</button>
            </div>
            <script type="text/javascript">
                startRotation = 0;
                wheelIsRotating = false;
                flag = "donotbeconcerned";

                function verify(e){
                    var input = \$('#shiftedLetters').text().replace(/\s+/g, '');
                    if (input.toLowerCase() == flag){
                        \$('#error').html('key accepted');
                        document.location = "/release?e=e88810d0cbf139342ecad4369604ec65d1995988";
                    }else{
                        \$('#error').html('invalid key');
                    }
                }

                function getAngle(e) {
                    var wheeloffset = \$('#wheelimg').offset();
                    var wheelwidth = \$('#wheelimg').width();
                    var wheelheight = \$('#wheelimg').height();
                    var originx = wheeloffset.left + (wheelwidth / 2);
                    var originy = wheeloffset.top + (wheelheight / 2);
                
                    var x = e.pageX - originx;
                    var y = e.pageY - originy;
                
                    if (x == 0) {
                        if (y <= 0) {
                            return 90.0;
                        }
                        else {
                            return 270.0;
                        }
                    }
                    var slope = (y / x);
                    var angle = Math.atan( slope ) * (180 / 3.141592);
                
                    if (y >= 0 && x >= 0) {
                        angle = (90 - angle) + 270.0;
                    }
                    if (y >= 0 && x < 0) {
                        angle = -angle + 180.0;
                    }
                    if( y < 0 && x < 0) {
                        angle = (90 - angle) + 90.0;
                    }
                    if (y < 0 && x >= 0) {
                        angle = -angle;
                    }
                
                    if (angle == 360.0) {
                        return 0.0;
                    }
                    else {
                        return angle;
                    }
                }
                
                
                function clickCipherWheel(e) {
                    var angle = getAngle(e);
                    \$('#error').html('&nbsp;');
                
                    if (wheelIsRotating) {
                        wheelIsRotating = false;
                        //\$('#wheelinfo').html('Click wheel to rotate.');
                        adjustment = parseInt((startAngle - angle) / 6.9230);
                        startRotation = mod(adjustment + startRotation, 52)
                        return;
                    }
                    else {
                        startAngle = angle;
                        wheelIsRotating = true;
                        //\$('#wheelinfo').html('Click wheel to stop rotating.');
                    }
                }
                
                function mod(a, b) {
                    return ((a % b) + b) % b;
                }
                
                function showRotation(n) {
                    \$('#wheelimg').css('background-position', (n * -400).toString() + 'px 0px');
                
                    // # rotate the number line at the bottom:

                    var notLinedUp = (n % 2 == 1);
                    var charCode = flag.charCodeAt(0) + Math.floor((52 - n) / 2);
                    var i = 0;
                    var s = '';
           
                    if (!notLinedUp) {
                        s += '&nbsp;';
                    }
                
                    while (i < flag.length){
                        charCode = flag.charCodeAt(i)
                        charCode = ((charCode - 65 + n) % 26) + 65;
                        schar = String.fromCharCode(charCode);
                        s += '&nbsp;' + schar;
                        i += 1;
                    }
                    \$('#shiftedLetters').html(s);
                }
                
                function rotateCipherWheel(e) {
                    if (!wheelIsRotating) {
                        return;
                    }
                    adjustment = parseInt((startAngle - getAngle(e)) / 6.9230);
                    showRotation(mod(adjustment + startRotation, 52));
                }
                
                //\$('#wheelimg').mousemove( rotateCipherWheel );
                //\$('#wheelimg').click( clickCipherWheel );
                \$('#wheelimg').on('mousemove', rotateCipherWheel );
                \$('#wheelimg').on('click', clickCipherWheel );
                showRotation(0);
                </script>
                    
		</center>

	</body>
</html>